@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

img,
video,
iframe {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    font-family: "nanumsquare";
    min-width: 1450px;
    font-size: 14px;
    line-height: 24px;
}

/*헤더 시작*/
#header {
    width: 1320px;
    margin: 30px auto;
    position: relative;
    margin-bottom: 60px;
}

#header p {
    float: right;
    font-size: 13px;
    color: #b5b5b6;
    border: 1px solid #b5b5b6;
    padding: 1px 5px;
    margin-bottom: 20px;
}

#header>a {
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translateX(-50%);
}

#header>ul {
    color: #b5b5b6;
    font-weight: 700;
    clear: both;
    font-size: 18px;
    margin-left: 60px;
    margin-top: 50px;
}

#header>ul>li {
    float: left;
    padding: 0px 70px
}

#header>ul>li:nth-child(2) {
    margin-right: 110px;
}

#header>ul>li:nth-child(3) {
    margin-left: 170px;
}

.sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-left: 46px;
}

.sub>li {
    width: 140px;
}

#header>ul>li {
    position: relative;
}

.sub>li>a {
    display: block;
    padding: 12px 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sub>li>a:hover {
    background-color: #ebc57f;
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}

.sub {
    display: none;
}

#header>ul>li:hover>.sub {
    display: block;
}

.solid {
    width: 50%;
    margin: auto;
    margin-top: 3px;
    height: 5px;
    background: #ebc57f;
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transition-property: opacity, transform;
    transition-duration: 0.1s;
}

#header>ul>li>a:hover .solid {
    transform: scaleX(1);
    opacity: 1;
    visibility: visible;
}


/*메인배너*/
#mainbanner>img {
    width: 100%;
}


/*신제품*/
#new_products {
    padding-bottom: 155px;
}

#new_products #new_products_inner {
    width: 1320px;
    margin: 30px auto;
    text-align: center;
}

#new_products #new_products_inner>h3 {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: 90px;
    padding-top: 175px;
}

@keyframes movement {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 3567px 0px;
    }
}


#slide {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
}

.slide_inner {
    display: flex;
    width: 300%;
    animation: rotate 10s linear infinite;
}

.slide_inner ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.slide_inner ul li {
    max-width: 400px;
}


.slide_inner ul li img {
    width: 100%;
}

.stop {
    animation-play-state: paused;
}

#slide p {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: rotate(-50%);
    cursor: pointer;
}

@keyframes rotate {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

/*카메라 시작*/
#camera {
    background-color: #f0f0f0;
}

#camera #camera_inner {
    width: 1320px;
    margin: 30px auto;
    text-align: center;
    padding-bottom: 80px;
}

#camera #camera_inner>h3 {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: 70px;
    padding-top: 175px;
}

#camera #camera_inner #camera_left {
    float: left;
    text-align: left;
    margin-left: 100px;
}

#camera #camera_inner #camera_left h4 {
    font-size: 16px;
    color: #424242;
    font-weight: 900;
    padding: 15px 0px;
}

#camera #camera_inner #camera_left p {
    font-size: 14px;
    color: #424242;
    font-weight: 600;
}

#camera #camera_inner #camera_right {
    float: right;
    text-align: left;
    margin-right: 100px;
}

#camera #camera_inner #camera_right ul li {
    float: left;
}

#camera #camera_inner #camera_right ul li:nth-child(1) {
    margin-right: 40px;
}

#camera #camera_inner #camera_right h4 {
    font-size: 16px;
    color: #424242;
    font-weight: 900;
    padding: 15px 0px;
}

#camera #camera_inner #camera_right p {
    font-size: 14px;
    color: #424242;
    font-weight: 600;
    padding-bottom: 15px;
}


#camera #camera_inner #camera_left img #camera #camera_inner #camera_left .banner {
    position: relative;
    display: inline-block;
}

.banner1::before,
.banner1::after {
    content: ' ';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 85%;
    height: 85%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.banner1::before {
    border-bottom: 4px solid #000;
    width: 0;
}

.banner1:hover::before {
    width: 85%;
}

.banner1:hover::after {
    height: 85%;
}

.banner2::before,
.banner2::after {
    content: ' ';
    position: absolute;
    top: 17%;
    left: 23%;
    width: 35%;
    height: 35%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.banner2::before {
    border-bottom: 3px solid #000;
    width: 0;
}

.banner2:hover::before {
    width: 30%;
}

.banner2:hover::after {
    height: 30%;
}

.banner3::before,
.banner3::after {
    content: ' ';
    position: absolute;
    top: 17%;
    left: 77%;
    width: 35%;
    height: 35%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.banner3::before {
    border-bottom: 3px solid #000;
    width: 0;
}

.banner3:hover::before {
    width: 30%;
}

.banner3:hover::after {
    height: 30%;
}

.banner4::before,
.banner4::after {
    content: ' ';
    position: absolute;
    top: 67%;
    left: 23%;
    width: 35%;
    height: 35%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.banner4::before {
    border-bottom: 3px solid #000;
    width: 0;
}

.banner4:hover::before {
    width: 30%;
}

.banner4:hover::after {
    height: 30%;
}

.banner5::before,
.banner5::after {
    content: ' ';
    position: absolute;
    top: 67%;
    left: 77%;
    width: 35%;
    height: 35%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.banner5::before {
    border-bottom: 3px solid #000;
    width: 0;
}

.banner5:hover::before {
    width: 30%;
}

.banner5:hover::after {
    height: 30%;
}



/*굿즈 시작*/
#goods {
    width: 1320px;
    margin: 30px auto;
    text-align: center;
    padding-bottom: 100px;
}

#goods>h3 {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: 70px;
    padding-top: 175px;
}

#goods #goods_left {
    float: left;
    text-align: left;
}

#goods #goods_left h4 {
    padding-top: 50px;
    font-size: 18px;
    font-weight: 900;
    color: #424242;
}

#goods #goods_left p {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
    padding-top: 30px;
    padding-bottom: 70px;
}

#goods #goods_right {
    float: right;
    text-align: left;
}

#goods #goods_right ul li {
    float: left;
}

#goods #goods_right ul li h4 {
    font-size: 16px;
    font-weight: 900;
    color: #424242;
    padding-top: 30px;
    padding-bottom: 10px;
}

#goods #goods_right ul li p {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
}

#goods #goods_right ul li:hover h4,
#goods #goods_right ul li:hover p {
    color: #ebc57f;
}

/*혜택 시작*/
#benefits {
    background-color: #f0f0f0;
}

#benefits #benefits_inner {
    width: 1320px;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 150px;
    margin-top: 30px;
}

#benefits #benefits_inner>h3 {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: 100px;
    padding-top: 175px;
}

#benefits #benefits_left {
    float: left;
    text-align: left;
}

#benefits #benefits_left p {
    font-size: 18px;
    font-weight: 900;
    color: #424242;
    padding-bottom: 70px;
    line-height: 30px;
}

#benefits #benefits_right {
    float: right;
    text-align: center;
}

#benefits #benefits_right ul {
    margin-left: -900px;
}

#benefits #benefits_right ul li {
    float: left;
}

#benefits #benefits_right ul li:nth-child(1) {
    margin-right: 90px;
}

#benefits #benefits_right ul li:nth-child(2) {
    margin-right: 90px;
}

#benefits #benefits_right ul li:nth-child(3) {
    margin-right: 90px;
}

#benefits #benefits_right ul li p {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
    padding-top: 30px;
}

#benefits #benefits_right ul li:hover {
    scale: 110%;
}

/*이벤트배너 시작*/
#event_banner>a>img {
    width: 100%;
}

/*푸터*/
#footer {
    border-top: 1px solid #d8d8d8;
    color: #b5b5b6;
    height: 270px;
}

#footer_inner {
    width: 1320px;
    margin: 70px auto;
    position: relative;
}

#footer #footer_inner>a>img {
    position: absolute;
    top: 0;
    left: 80px;
}

#footer #footer_inner .footer_left {
    float: left;
    margin-left: 250px;
}

#footer #footer_inner .footer_right {
    float: right;
    margin-right: 150px;
}

#footer #footer_inner .footer_left ul li {
    float: left;
    font-size: 15px;
    padding-right: 17px;
    font-weight: 600;
    padding-bottom: 15px;
}

#footer #footer_inner .footer_left p {
    clear: both;
    font-size: 13px;
}

#footer #footer_inner .footer_right h1 {
    font-size: 30px;
    padding-bottom: 5px;
    font-weight: 900;
}

#footer #footer_inner .footer_right p {
    font-size: 13px;
    padding-left: 3px;
    padding-bottom: 15px;
}

#footer #footer_inner .footer_right ul {
    padding-left: 5px;
}

#footer #footer_inner .footer_right ul li {
    float: left;
    padding-right: 10px;
}



/*탑*/
.bg {
    transition: all 0.5s;
    position: fixed;
    right: 30px;
    bottom: 50px;
    background: #000;
    border-radius: 50%;
}

.bg:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

.bg a {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    width: 51px;
    color: #fff;
}